h2 {
	color: Black;
	font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 10px;
	text-align: center;
}


html,
body {
	margin:0;
	padding:0px;
	height:100%;
	width:100%;
	background: url("/stock/resources/images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Dash board layout styling */
#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	background:#ededed;
	padding:10px;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

/* Color settings */
#modalblue {
  width: 560px;
  background-color: #e0e0e0;
  text-align: center;
  font-size: 1em;
}

#modalgreen {
  background-color:green;
}

.grey {
	color: #888888;
}

.red {
	color: #d9534f;
}

.green {
	color: #5cb85c;
}

.footer-grey {
	background: -webkit-linear-gradient(#686868, #303030); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#686868, #303030); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#686868, #303030); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#686868, #303030); /* Standard syntax (must be last) */
    height: 100px;
	padding: 25px;
	color: white;
}

.white {
	background-color:white;
}

.footer-image {
	max-height: 95px;
}

.footer-bg-image {
	background-image:url("/stock/resources/images/footer.jpg");
}

table.test td {
	border: 1;
    background-color: #ccccff;
    font-family: cursive;
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
}

#footer {
	width: 100%;
    bottom:0;
    left:0;
	right:0;
    /*
    position:absolute;
    border-top-style: solid;
	height: 100px;
	border-color: black;
	background-color: black;
    */
	text-align: center;
	font-size: 18px;
}

/* Bootstrap navigation styling */
nav a {
  	padding-top: 20px !important;
  	padding-bottom: 20px !important;
  	font-size: 1.25em;
  	color:white
}

nav a:hover {
	/* background-color:white; */
    color: green !important;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-grey { 
	background-color: #505050;
    border-color: #505050;
}

.logo {
    width: 160px;
    height: 40px;
    position: absolute;
    top: 7px;
    background-color: white;
}

/* Bootstrap panel heading styling */
/*
.panel-green {
    border-color: #5cb85c;
}


.panel-green .panel-heading {
    border-color: #009933;
    color: white;
    background-color: #009933;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red .panel-heading {
    background-image: none;
    background-color: red;
    color: white;
}

.panel-blue .panel-heading {
    background-image: none;
    background-color: blue;
    color: white;
}

.panel-purple .panel-heading {
    background-image: none;
    background-color: purple;
    color: white;
}

.panel-orange .panel-heading {
    background-image: none;
    background-color: orange;
    color: black;
}
*/

/* Settings for tree map */
.node {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


/* Bootstrap navigation bar styling */
.fixed-nav {
	position: fixed;
    top: 200;
}

/* Dash board styling */
.huge {
    font-size: 40px;
}

.big {
	font-size: 25px;
}

.medium {
	font-size: 20px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-white .panel-heading {
    color: black;
    background-color: white;
}

.panel-white a {
    color: #3d8b3d;
    text-decoration: none;
}

.panel-white a:hover {
    color: blue;
}

.nav-pills > li > a {
	color: white !important;
	font-size: 1.25em;
}

.nav-pills > li > a:hover {
	background-color:white;
    color: green !important;
}

/* This changes the color of the active */
.nav-pills > li.active > a {
    background-color:green;
    color: white !important;
}

/* This changes the color of the hovered pill */
.nav-pills > li.active > a:hover {
    background-color:green;
    color: white !important; 
}
